.footer_wrapper {
    background-color: #FFFAF2;
    padding-top: 9.3rem;
    padding-bottom: 7rem;
        .footer h3 {
            font-weight: 700;
            font-size: 2.4rem;
            line-height: 2.9rem;
        }
}

.footer_bot {
    margin-top: 5.1rem;
    display: flex;
    justify-content: space-between;
    .footer_item a {
        display: block;
        font-size: 1.8rem;
        line-height: 2.2rem;  
        text-decoration: none;
        color: #333333;
    }
    .footer_item a {
        margin-bottom: 1.4rem;
    }
    .footer_item a:hover {
        font-weight: 600;
        transition: 0.2s;
    }
}
.footer_item :last-child {
    margin-right: 16.7rem;
}
.footer_link {
    margin-top: 11.9rem;
    display: flex;
    align-items: center;
    justify-content: end;
}

