@import "./reset.css";

body {
  font-family: "Roboto", sans-serif;
}

/* -------------------- HEADER -------------------- */

.container {
  max-width: 1350px;
  margin: 0 auto;
}

.header__container {
  display: flex;
  justify-content: space-between;
  padding: 23px 15px;
}

.header__container a {
  color: #000;
}

.header__logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 25px;
  white-space: nowrap;
}

.header__menu {
  display: flex;
  column-gap: 35px;
}

.header__nav {
  display: flex;
  align-items: center;
  position: relative;
}

.header__nav::before {
  content: '';
  width: 18px;
  height: 18px;
  position: absolute;
  top: 34%;
  left: 12%;
  background-color: #C4C4C4;
  border-radius: 50%;
  z-index: -1; 
}

.header__list {
  display: flex;
  column-gap: 35px;
  align-items: center;
}

.header__list-item:first-child {
  margin-right: 9px;
}

.header__list-link {
  font-size: 18px
}

.header__list-link:hover {
  opacity: 0.5;
}

.header__list-link:active {
  opacity: 1;
}

.btn-black {
  padding: 13px 17px;
  font-size: 18px;
  border: none;
  white-space: nowrap;
  border-radius: 5px;
  background-color: #373737;
  color: #fff;
  transition: ease 0.3s;
}

.btn-black:hover {
  cursor: pointer;
  background-color: #757575;
  color: #000;
}

.header__search-link {
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* -------------------- WELCOME -------------------- */

.welcome__bg-block {
  display: flex;
  align-items: center;
  background-image: url(../img/office.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.welcome__links {
  width: 28%;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  justify-content: center;
  padding-left: 55px;
}

.welcome__link {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome__desc {

}