@import "./reset.css";

body {
  font-family: "Roboto", sans-serif;
}

/* -------------------- HEADER -------------------- */

.wrapper {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  display: flex;
  padding: 23px 0;
}

.header a {
  color: #000;
}

.header__logo-link {
  margin-right: auto;
  font-weight: 700;
  font-size: 25px;
  display: flex;
  align-items: center;
}

.header__nav {
  margin-right: 35px;
  display: flex;
  position: relative;
}
.ellipse {
  position: absolute;
  display: block;
  width: 18px;
  height: 18px;
  background-color: #C4C4C4;
  border-radius: 50%;
  left: 40px;
  bottom: 14px;
}

.header__list {
  display: flex;
  column-gap: 35px;
  align-items: center;
}

.header__list-item {
  z-index: 1;
}

.header__list-link {
  font-size: 18px
}

.btn-black {
  padding: 13px 17px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: #373737;
  color: #fff;
  transition: ease 0.3s;
}

.btn-black:hover {
  cursor: pointer;
  background-color: #757575;
  color: #000;
}

.header__button {
  margin-right: 56px;
}

.header__search-link {
  width: 30px;
  display: flex;
  align-items: center;
}

/* -------------------- MAIN -------------------- */

.lux {}

.lux__background {
  display: flex;
  background-image: url(../img/office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 763px;
}

.lux__social {
  min-width: 310px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background: transparent;
  backdrop-filter: blur(10px);
}

.lux__nav {
  margin-bottom: 253px;
  margin-left: 55px;
}

.lux__list {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.lux__list-link  {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lux__content-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.lux__content {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 41px 0;
  background: transparent;
  backdrop-filter: blur(10px);
}

.lux__description {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  max-width: 500px;
  text-align: center;
  align-items: center;
}

.lux__title {
  font-family: "Revalia", sans-serif;
  font-size: 36px;
  line-height: 45px;
}


.lux__card-text img {
  width: 20px;
  height: 20px;
}

.lux__text {
  max-width: 412px;
  font-size: 20px;
  color: #fff;
}

.black-block {
  height: 93px;
  width: 100%;
  background-color: #000;
}
