* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin: 0;
  font-family: "Hedvig Letters Sans", sans-serif;
  background-image: url(./img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  max-width: 100%;
  border: 0;
}

.payment-block {
  overflow: hidden;
  width: calc(100% - 20px);
  max-width: 400px;

  background-color: #fff;
  border-radius: 3px;
  padding-top: 25px;
  border-radius: 8px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin-bottom: 25px;
}

.dots__item {
  height: 6px;
  width: 6px;
  background-color: #9a9a9a;
  border-radius: 50%;
}

.dots__item:not(:first-child) {
  background-color: #d7d7d7;
}

.title {
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  color: #2b2b2d;
}

.btn-block__link {
  background-color: #5b80d1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn-block__link:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
}

.btn-block__img {
  height: 14px;
  width: 14px;
  margin-left: 10px;
}

.radio__img {
  height: auto;
  width: 60px;
  margin-right: 20px;
}

.radio__wrap {
  display: flex;
  align-items: center;
  padding: 10px 30px;
  border-top: 1px solid #e3e3e3;
}

.radio__text {
  text-transform: uppercase;
  color: #aaaaaa;
  margin-right: auto;
}

.radio__fake {
  opacity: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.radio__input:checked ~ .radio__wrap .radio__fake {
  opacity: 1;
}

.radio__input:checked ~ .radio__wrap .radio__text {
  color: #000;
}

.radio__input:not(:checked) ~ .radio__wrap:hover {
  background-color: #eee;
}
